html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Lato;
    background-color: #3F759F;
    color: white;
    text-align: center;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsecontent {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.header {
    background: url('https://media.discordapp.net/attachments/814131923387023360/918225437954564177/unknown.png?width=1440&height=677'), rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    background-size: cover;
    padding-bottom: 25%;
    background-position: center;
    filter: blur(2px);
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: lightblue;
  font-weight: bold;
  border: 3px solid lightblue;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}   

.banner {
    background: url('https://media.discordapp.net/attachments/814131923387023360/918225437954564177/unknown.png?width=1440&height=677'), rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    background-size: cover;
    padding-bottom: 50px;
    background-position: center;
}

.headerlogo {
    align-items: center;
}

.footer {
    background-color: #3F759F;
    background-size: cover;
    padding: 25px;
    align-items: center;
}

.navigationmenu {
    font-family: Lato;
    background-color: #3F759F;
    padding: 0px;
}

.title {
    font-size: 36px;
    padding: 10px;
    text-shadow: 2px 2px black;
}

.logo {
    width: 15%;
}

.subtitle {
    font-size: 30px;
    text-shadow: 2px 2px black;
}

.content {
    padding: 10px;
    flex-grow: 1;
}

.data-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 250px;
    margin: auto;
}

.data {
    background-color: #1d61a8;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    min-width: 200px;
}


a {
    color: white;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #022555;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: #1d61a8;
}
